{% extends "base_generic.html" %}

{% block content %}
<style>
    .pr{
    position:relative;
    color:floralwhite;
    background-color:gray;
    border-radius:10px;
    width:70%;
        min-height: 80px;
    left:15%;
    }
    .pr h1{
    font-family: 'Concert One', cursive;

    font-family: 'Sawarabi Gothic', sans-serif;

    font-family: 'Indie Flower', cursive;
    margin-bottom: 10px;

    }
    .pr img{
        border-radius: 100%;
    }
    .pr .details{
        text-align: center;
    }
    .pr .details p{
        margin-left: 10px;
font-family: 'Lato', sans-serif;
        font-size: 20px;
    }
     .but{
        background-color: cadetblue;
        border-radius: 15px;
        font-size: 20px;
        color: floralwhite;

</style>
{% if user.is_authenticated %}
<div class="pr">
<h1>Change your password</h1>
   
    <div class="details">
       <form method="post">
        {% csrf_token %}
          {% for field in form %}
           {% ifnotequal  field.label_tag "password" %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
      </p>
           {% endifnotequal %}
    {% endfor %}
           <button class="but" type="submit">save</button>
        </form> 
    </div>
</div>
{% else %}
<div class="pr">
<h1>hey you need to log in first</h1>
    
</div>
{% endif %}
{% endblock %}
